/* Home Page - Portfolio */
@media screen and (min-width: 300px) {
    li a {
        font-size: 18px;
    }

    h1 {
        font-size: 20px;
        padding-top: 0px;
        margin-top: 40px;
    }

    .container {
        flex-direction: column;
    }

    .cards {
        width: 330px;
        height: 430px;
    }

    header nav {
        display: none;
    }

    .button-mobile {
        display: flex;
    }

    nav span {
        display: flex;
        justify-content: start;
    }
}

@media screen and (min-width: 600px) {
    li a {
        font-size: 20px;
    }

    h1 {
        font-size: 46px;
    }

    .cards {
        width: 380px;
    }

    .container {
        flex-direction: column;
    }

    header nav {
        display: flex;
    }

    .button-mobile {
        display: none;
    }

    .menu-mobile-active {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    li a {
        font-size: 22px;
    }

    h1 {
        font-size: 50px;
    }

    .cards {
        width: 340px;
    }

    .container {
        flex-direction: row;
    }   

    header nav {
        display: flex;
    }

    .button-mobile {
        display: none;
    }
}

/* About me - Portfolio */
@media screen and (min-width: 300px) {
    .tech-container {
        padding: 80px;
    }

    .tech-container p, .tech-logo span {
        font-size: 12px;
    }
}

@media screen and (min-width: 600px) {
    .tech-container p, .tech-logo span {
        font-size: 14px;
    }
}

@media screen and (min-width: 800px) {
    .tech-container p, .tech-logo span {
        font-size: 18px;
    }
}




