/* Home Page - Portfolio */
@media screen and (min-width: 300px) {
    li a {
        font-size: 18px;
    }

    h1 {
        font-size: 32px;
    }

    .container {
        flex-direction: column;
    }

    .cards {
        width: 330px;
        height: 430px;
    }
}

@media screen and (min-width: 600px) {
    li a {
        font-size: 20px;
    }

    h1 {
        font-size: 46px;
    }

    .cards {
        width: 380px;
    }

    .container {
        flex-direction: column;
    }
}

@media screen and (min-width: 800px) {
    li a {
        font-size: 22px;
    }

    h1 {
        font-size: 50px;
    }

    .cards {
        width: 340px;
    }

    .container {
        flex-direction: row;
    }   
}

