/* Modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(124, 115, 115, 0.95);
    height: 100%;
    width: 100%;
    z-index: 1500;
    overflow: auto;
  }

  .modal img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 900px;
    height: 560px;
    object-fit: fill;
}

 .modal-content {
    display: block;
    margin: auto;
    max-height: 80%;
 }

 .closeModal {
  display: block;
  font-size: 60px;
  color: #ffffff;
  cursor: pointer;
  margin-left: 30px;
 }

 @media screen and (min-width: 300px) {
  .modal img {
      width: 400px;
      height: 300px;
  }
}

@media screen and (min-width: 600px) {
  .modal img {
      width: 580px;
      height: 400px;
  }
}

@media screen and (min-width: 800px) {
  .modal img {
      width: 800px;
      height: 500px;
  }
}

