* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    font-family: "Lexend", sans-serif;
}

main {
    flex-grow: 1;
}

header {
    width: 100%;
    height: 50px;
    background-color: black;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 16px;
}

nav li {
    text-decoration: none;
}

li a {
    display: flex;
    text-decoration: none;
    color: white;
    margin: 14px;
    font-size: 22px;
}

.underline {
    text-decoration: underline 1.8px white;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 60px;
    font-size: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 240px;
    gap: 32px;
}

.cards {
    display: flex;
    width: 100%;
    height: 412px;
    background-color: lightgrey;
    border-radius: 5px;
    border: 5px solid grey
}

.cards img {
    width: 100%;
    height: 220px;
    max-width: 440px;
    cursor: zoom-in;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

    font-size: 18px;
}

.cards p {
    margin: 8px;
    font-size: 13px;
    text-align: center;
    padding: 0;
    color: black;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
    gap: 32px;
}

.social-media-icons a {
    text-decoration: none;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.icon i:hover {
    color: rgb(226, 224, 222);
    transition: 0.6s;
}

.icon span {
    color: black;
    margin-right: 4px;
    font-size: 11px;
}

.fa-brands, .fa-solid {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: black;
    cursor: pointer;
    width: 36px;
    height: 36px;
    background: white;
    border-radius: 50%;
}

.fa-solid {
    background: none;
    font-size: 26px;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #171717;
    color: #ffffff;
    font-size: 16px;
  }