* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: black;
  font-family: "Lexend", sans-serif;
}

main {
  flex-grow: 1;
}

header {
  width: 100%;
  height: 70px;
  background-color: black;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  padding: 16px;
}

nav li {
  text-decoration: none;
}

li a {
  display: flex;
  text-decoration: none;
  color: white;
  margin: 14px;
}

.underline {
  text-decoration: underline 1.2px lightgrey;
}

/* Navigation Mobil Menu */
.button-mobile {
  display: none;
  align-self: flex-start;
  align-items: center;
  margin: 18px;
  background: transparent;
  color: #ffffff;
  border: 0;
}

.button-mobile i {
  font-size: 36px;
  margin-right: 4px;
  margin-left: 22px;
  border: 0;
  margin: 0;
  padding: 0;
}

.button-mobile span {
  font-size: 18px;
}

.menu-mobile {
  display: none;
}

.menu-mobile-active {
  width: 100vw;
  height: 100vh;
  background-color: #171717;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.menu-mobile-active button {
  background-color: transparent;
  border: 0;
  color: inherit;
  margin-bottom: 16px;
}

.menu-mobile-active button > span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.mobile-text > span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 30px;
}

/* Home Page - Portfolio */
h1 {
  display: flex;
  justify-content: center;
  margin: 60px;
  text-transform: uppercase;
}

.welcome {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 240px;
  gap: 32px;
}

.cards {
  display: flex;
  width: 100%;
  max-width: 380px;
  height: 440px;
  background-color: lightgrey;
  border-radius: 5px;
  border: 3px solid grey;
}

.cards img {
  width: 100%;
  height: 220px;
  max-width: 400px;
  cursor: zoom-in;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-top: 5px;
  font-size: 18px;
}

.cards p {
  margin: 8px;
  font-size: 13px;
  text-align: center;
  padding: 0;
  color: black;
  line-height: 11px;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 38px;
  gap: 30px;
  margin-top: 32px;
  margin-bottom: 3px;
}

.social-media-icons a {
  text-decoration: none;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon i:hover {
  color: rgb(226, 224, 222);
  transition: 0.6s;
}

.icon span {
  color: rgb(93, 87, 87);
  margin-right: 4px;
  font-size: 11px;
}

.fa-brands,
.fa-solid {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 33px;
  color: black;
  cursor: pointer;
  width: 34px;
  height: 35px;
  background: white;
  border-radius: 50%;
}

.fa-solid {
  background: none;
  font-size: 25px;
}

/* About me Page */
.tech-container {
  text-transform: uppercase;
}

.tech-logo img {
  width: 30px;
  height: 30px;
  margin: 5px;
  transition: transform 0.2s;
}

.tech-logo img:hover {
  transform: scale(1.1);
}

.tech-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tech-logo p {
  padding-right: 18px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #171717;
  color: #ffffff;
  font-size: 16px;
}

.footer-container p {
  display: flex;
  justify-content: center;
}

footer img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

footer a {
  margin: 16px;
}
